extends layout

block content
  // Page Content
  main.container(role='main')
    h1 Welcome!
    ul#myTab.nav.nav-tabs(role='tablist')
      li.nav-item
        a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Tweets
      li.nav-item
        a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Sentiment Chart
    #myTabContent.tab-content
      #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
        #tweets
      #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
        | content
